<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script>
      $(document).ready(function () {
        main_info();
      });

      function main_info() {
        $.ajax({
          type: "POST",
          url: "/info",
          data: {},
          success: function (response) {
            console.log(response["msg"]);
          },
        });
      }
    </script>
  </head>
  <body>
    <div>
      {% for country in countrys %}
      <div class="container">
        <h5 class="box">{{ country.title }}</h5>
        <p class="box">{{ country['short_desc'] }}</p>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
